/* I'm basing this applications color scheme on the discotheque slack theme */
/* 
Darkest Brown Background: #461412
Medium Brown Background: #6A1B1B
Lightest Brown/ Orange Background: #D94422

Darkest Text Color: rgb(203,147,86), also used for scroll bar
Medium Text Color: rgb(255, 212, 118)
Lightest Text Color: rgb(253, 246, 227) or #FFD476

Dark Theme Background: #9a9c9e

*/


@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.jost {
  font-family: 'Jost', sans-serif;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* input[type="email"] {
  background-color: #1A1D21
} */

/* ZenMode Toggler */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #461412;
}

input:focus + .slider {
  box-shadow: 0 0 1px #461412;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
  background-color: #2d3748;
}

.slider.round:before {
  border-radius: 50%;
  background-color: #D2A454
}

/* End of ZenMode Toggler */


.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}

#__next-prerender-indicator {
  display: none;
}

.tooltip .tooltip-text {
  @apply jost invisible py-2 px-4 mb-12 absolute bottom-0 z-50 inline-block text-sm rounded-full bg-red-700 text-white;
}

.tooltip:hover .tooltip-text {
  @apply visible;
} 

.tooltip-horz .tooltip-text-horz {
  @apply jost invisible py-1 px-2 mb-8 mr-1 absolute bottom-0  z-50 inline-block text-sm rounded-full bg-red-700 text-white;
}

.tooltip-horz:hover .tooltip-text-horz {
  @apply visible;
}

.shadowClass {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.534), 0 3px 10px 0 rgba(0, 0, 0, 0.534);
}

.hoverShadow:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.534), 0 3px 10px 0 rgba(0, 0, 0, 0.534);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2b323d;
  outline: 1px solid #4a5568;
}

::-webkit-scrollbar-thumb:active{
  background-color: #191d24;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  outline: 1px solid #000;
}

@media screen and (min-width: 640px){
  .x-scrollbar:hover{
    overflow-x: scroll;
  }
  
  .x-scrollbar::-webkit-scrollbar-thumb:active{
    background-color: #4a5568;
  }

  .x-scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 10px;
  }
   
  .x-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .x-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
    outline: 1px solid #4a5568;
  }
}



@tailwind utilities;
